@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

.nav-wrapper,
.title {
  font-family: 'Roboto', sans-serif;
}

.brand-logo {
  padding-left: 5px !important;
}

.login-close-text {
  float: right;
  cursor: pointer;
}

.login-close-text-clear:before,
.login-close-text-clear:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.login-close-text-clear:after {
  clear: both;
}

.login-link-and-dropdown-list {
  overflow-x: visible;
}

.accounts-dialog {
  position: absolute;
  right: 0;
  background-color: #FFFFFF;
  color: #000;
  margin: 0;
  min-width: 300px;
  max-height: 650px;
  overflow-y: auto;
  white-space: nowrap;
  z-index: 1;
  will-change: width, height;

  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.accounts-dialog a {
  color: #000;
}

.login-button {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  transition: all .3s ease-out;

  text-decoration: none;
  color: #FFF;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: .2s ease-out;
  -moz-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  -ms-transition: .2s ease-out;
  transition: .2s ease-out;
  cursor: pointer;
}

#login-email-label-and-input,
#login-old-password-label-and-input,
#login-password-label-and-input {
  padding: 0 5px;
}

.accounts-dialog input {
  display: block;
}

.jumbotron {
  margin-top: 50px;
  padding: 20px 0;
}

@media (min-width: 1200px) {
  .floating-action {
    width: 1170px;
  }
}

.visible-print-table-row {
  display: none;
}

@media print {
  .hidden-print {
    display: none;
  }

  .visible-print-table-row {
    display: table-row;
  }
}

.btn-floating {
  position: fixed;
  bottom: 23px;
  right: 23px;
  z-index: 10;
}

.floating-action span {
  cursor: pointer;
}

.floating-action span:hover {
  color: #ccc;
}

.jumbotron-icon {
  font-size: 128px;
}

.list-item-btn-group {
  margin-top: -5px;
  margin-right: -7px;
}

.row-hint {
  margin-top: 5px;
}

.archived {
  color: #ddd !important;
}

.invoice-header {
  width: 100%;
  margin-bottom: 100px;
}

.invoice-header td {
  vertical-align: top;
}

.invoice-terms {
  width: 100%;
  margin-bottom: 50px;
}

.invoice-items {
  width: 100%
}

tr.list-group-item > td {
  display: block;
}

.invoice-terms th,
.invoice-terms td,
.invoice-items th,
.invoice-items td {
  padding: 3px;
  border: 1px solid #999;
}

.invoice-items .price {
  text-align: right;
}

textarea {
  resize: vertical;
}
