/* CSS declarations go here */
@media (min-width: 1200px) {
  .floating-action {
    width: 1170px;
  }
}

.visible-print-table-row {
  display: none;
}

@media print {
  .visible-print-table-row {
    display: table-row;
  }
}

.floating-action {
  position: fixed;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  bottom: 10px;
  margin-bottom: 0;
  text-align: right;
  font-size: 40px;
}

.floating-action span {
  cursor: pointer;
}

.floating-action span:hover {
  color: #ccc;
}

.jumbotron-icon {
  font-size: 128px;
}

.list-item-btn-group {
  margin-top: -5px;
  margin-right: -7px;
}

.row-hint {
  margin-top: 5px;
}

.archived {
  color: #ddd !important;
}

.invoice-header {
  width: 100%;
  margin-bottom: 100px;
}

.invoice-terms {
  width: 100%;
  margin-bottom: 50px;
}

.invoice-items {
  width: 100%
}

tr.list-group-item > td {
  display: block;
}

.invoice-terms th,
.invoice-terms td,
.invoice-items th,
.invoice-items td {
  padding: 3px;
  border: 1px solid #999;
}

.invoice-items .price {
  text-align: right;
}
